<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h1>Hello world</h1>
    <button class="btn btn-primary">dfdsfds</button>
    <div id="app">
        {{message}}
    </div>

    <div id="app2">
        <h2>Use v-bind:title</h2>
        <span v-bind:title="message">
            Hover to see time
        </span>
    </div>

    <div id="app3">
        <h2>Seen by var(v-if)</h2>
        <span v-if="seen"> Now you can see me</span>
    </div>

    <div id="app4">
        <h2>Use List(v-for)</h2>
        <ul style="list-style: none;">
            <li v-for="todo in todos"> {{todo.text}}</li>
        </ul>
    </div>

    <div id="app5">
        <h2>Reverse string with Vue</h2>
        <p>{{message}}</p>
        <button mat-button v-on:click="onClickReveseMessage">Revese string</button>
    </div>

    <div id="app6">
        <h2>Enter message</h2>
        <input type="text" v-model="message">
        <p>{{message}}</p>
    </div>

    <div id="app7">
        <h2>Define Component</h2>
        <ol>
            <todo-item v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.id"></todo-item>
        </ol>
    </div>


    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="index.js"> </script>
</body>


</html>