<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Vue Instance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css">
</head>

<body>
    <h1>Create Vue Instance by call:</h1>
    <div style="width: 500px; float: left;">
        <pre>
    <code class="lang-javascript">var vm = new Vue({
             // options
        })</code>
    </pre>
    </div>
    <div style="clear: both;">
        </di>
        <div id="app">
            {{ message }}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js"></script>

        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script>
            // Create new Vue instance
            var vm = new Vue({
                el: "#app",
                data: {
                    message: "This is message from VueJs"
                }
            });
        </script>
</body>

</html>