<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Vue Instance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Data and method</h1>
    <p>When create new Vue instansce, pass dataa to <b>option</b> object (only property at create time is added to
        <b>react system</b> to track change and re-render view to end-user). <b>Object.freeze()</b> will prevent track
        change object</p>
    <div style="width: 500px; float: left;">
        <pre>
    <code class="lang-javascript">
        var obj = {
             foo: 'Value'
        }
        
        // This will prevent track change obj Object
        Object.freeze(obj);
        
        
        var vm = new Vue({
             el: '#app',
             data: obj
        });</code>
    </pre>
    </div>
    <div style="clear: both;">
        </di>
        <div id="app">
            <p>Value: {{ obj.foo }}</p>
            <p><button v-on:click="obj.foo ='Value changed'">Click me</button></p>
            <p>The Value is not changed. Comment <b>Object.freeze(obj);</b> and try again to see result </p>
        </div>


        <p>Use <b>$</b> to call Vue property</p>
        <p>
            <pre><code>
                var data = { a: 1 }
                var vm = new Vue({
                    el: '#example',
                    data: data
                })

                vm.$data === data // => true
                vm.$el === document.getElementById('example') // => true

                // $watch is an instance method
                vm.$watch('a', function (newValue, oldValue) {
                // This callback will be called when `vm.a` changes
                })


        </code></pre>
        </p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js"></script>

        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script>
            var obj = {
                foo: 'Value'
            }

            // This will prevent track change obj Object
            Object.freeze(obj);


            var vm = new Vue({
                el: '#app',
                data: obj
            });
        </script>
</body>

</html>